google-genai
PyGithub
python-dotenv
pydantic
pydantic-settings
watchdog
PyYAML
chromadb
streamlit
google-api-python-client
google-auth-oauthlib
google-auth-httplib2
python-docx
python-pptx
pypdf
Pillow
sentence-transformers
python-docx
python-pptx
pypdf
